/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*.moon:hover .textmoon{
  width: 200px;
  height: auto;
  border: 1px;
  color: black;
  background-color: beige;
  box-sizing: content-box;
  box-shadow:
  padding: 5px, 5px, 5px, 5px;
}*/


/*tags*/


/*#ID*/

#pane-5 {

  background: linear-gradient(black 50%,skyblue);

}

#pane-4 {
  background: skyblue;
}

#pane-3 {
  background: linear-gradient(skyblue 50%, green 10%, brown);

}

#pane-2 {
  background-color: blue;
}

#pane-1 {
  background: linear-gradient(blue,MidnightBlue, black);

}


/*.class*/

.panelCon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.panel {
  width: 100%;
}

.panel h1 {
  width: 100px;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  top: 50%;
}

.menu {
  position: fixed;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.menu a {
  display: inline-block;
  color: white;
}



/*Animation*/

.man, .cloud1, .cloud2, .balloon, .ufo  {
  position: absolute;
}
.starfield{
  z-index: 1;
}

.moon img{
  width: 400px;
  height: auto;
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
}

.moon .textmoon{
  position: absolute;
  top: 100px;
  left: 400px;
  width: 300px;
  border: 5px, black;
  background-color: beige;
  visibility:hidden;
  float: inline-end;
  padding: 5px, 5px, 5px, 5px;


}

.moon:hover .textmoon{
  visibility: visible;

}


.ufo img {
  width: 50px;
  height: 50px;
  position: fixed;
}

.cloud1 img {
  width: 200px;
  height: auto;
  display: block;
  z-index: 3;
  overflow-y: hidden;
}

.balloon {
  width: 100px;
  display: block;
  z-index: 2;

}

.cloud2 img {
  width: 200px;
  height: auto;
  display: block;
  z-index: 1;
}

.man {
  width: 100px;
  height: 100px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
